// Add any custom Sass & CSS here
@import "mixins";


.angular-google-map-container {
    height: 600px;
}
h1,h2,h3,h4,h5,h6,p,span,label,a{
	font-family: 'Hind', sans-serif !important;
}
body{
	background: #F7FAFE;
}
.login-text{
	color: #272727;
	padding-top: 20px;
	padding-bottom: 0px;
}
.regis-container{
	padding: 40px;
	.sign-up-card{
		float: right;
		padding: 40px;
		width: 60%;
		background-color: #3867FA;
		color: white;
		margin: 0 auto;
		border-radius: 4px;
		box-shadow: 0px 2px 2px rgba(234,241,255,0.8);
		overflow: hidden;
		.signup-input{
			background-color: #3867FA;
			opacity: 0.6;
			color: white;
			border: 1px solid #3867FA;

		}
		#agreement-check{
			width: 30px;
			margin-left: 10px;
		}
		#agreement-check-label{
			margin-right: 0px;
			width: 80%;
			color: white;
		}
		#signup-button{
			background-color: white;
			color: #3867FA;
			font-family: 'Hind', sans-serif;
			font-size: 17px;
			font-weight: 500;
		}
		@include transition(all 0.5s ease-in-out);
		&:hover, &:focus{
			@include transform(scale(1.1));
		}
	}
	.login-card{
		float: left;
		padding: 40px;
		width: 60%;
		background-color: white;
		color: rgba(0,0,0,0.7);
		border-radius: 4px;
		margin: 0 auto;
		margin-top: 50px;
		box-shadow: 0px 2px 2px rgba(234,241,255,0.8);
		@include transition(all 0.5s ease-in-out);
		&:hover, &:focus{
			@include transform(scale(1.1));
		}

		.login-input{
			background-color: #EAF1FF;
			opacity: 0.6;
			color: black;
			border: 1px solid #EAF1FF;
		}
		#login-button{
			background-color: #3867FA;
			color: white;
			font-family: 'Hind', sans-serif;
			font-size: 17px;
			font-weight: 500;
		}
	}
}

.user-navbar{
	background-color: transparent;
	border-bottom: 1px solid rgba(211,211,211,0.8);
}

.houses-container{
	//background-color: rgba(234,241,255,0.8);
	padding: 40px;
	padding-top: 60px;
	width: 80%;
	margin: 0 auto;
	.search-form-wrapper {
		padding-top: 30px;
		.search-input{
			background-color: white;
			color: #272727;
			border: 1px solid white;
			opacity: 0.7;
		}
	}
	.houses-wrapper{
		padding-top: 30px;
		.house-box{
			background-color: rgba(255,255,255,0.6);
			border: 1px solid white;
			padding: 10px;
			margin-bottom: 10px;
			.house-info{
				display: block;
			}
			.link{
				text-align:right;
				font-size: 12px;
			}
		}
	}
}
#user-dropdown{
	list-style: none;
	background-color: transparent;
	color: #272727;
}

.house-info{
	position: relative;
	.info-card{
		position: absolute;
		left: 3%;
		bottom: 5%;
		background-color: rgba(255,255,255,0.8);
		border: 1px solid white;
	}
}
#search-button{
	border-radius: 3px;
	background-color: rgba(211,211,211,0.7);
	&:focus{
		border: none;
		text-decoration: none;
	}
	img,span{
		@include transition(all 0.5s ease-in-out);
		&:hover, &:focus{
			@include transform(scale(1.2));
		}
	}
}

.sign-up-card-mobile{
	padding: 40px;
	width: 70%;
	background-color: #3867FA;
	color: white;
	margin: 0 auto;
	border-radius: 4px;
	box-shadow: 0px 2px 2px rgba(234,241,255,0.8);
	overflow: hidden;
	.signup-input{
		background-color: #3867FA;
		opacity: 0.6;
		color: white;
		border: 1px solid #3867FA;

	}
	#agreement-check{
		width: 30px;
		margin-left: 10px;
	}
	#agreement-check-label{
		margin-right: 0px;
		width: 80%;
		color: white;
	}
	#signup-button{
		background-color: white;
		color: #3867FA;
		font-family: 'Hind', sans-serif;
		font-size: 17px;
		font-weight: 500;
	}
}
.login-card-mobile{
		padding: 40px;
		width: 70%;
		background-color: white;
		color: rgba(0,0,0,0.7);
		border-radius: 4px;
		margin: 0 auto;
		margin-top: 50px;
		box-shadow: 0px 2px 2px rgba(234,241,255,0.8);

		.login-input{
			background-color: #EAF1FF;
			opacity: 0.6;
			color: black;
			border: 1px solid #EAF1FF;
		}
		#login-button{
			background-color: #3867FA;
			color: white;
			font-family: 'Hind', sans-serif;
			font-size: 17px;
			font-weight: 500;
		}
	}