
  <h3 class="login-text text-center">Pillow Findr helps students find a place to stay on <br> over 100 college campuses nation-wide.</h3>
  <div class="container">
  <div class="sign-up-card">
  	<h4 class="text-center">Sign up for an account.</h4>
    <form data-abide novalidate>
      <div data-abide-error class="alert callout" style="display: none;">
      <p><i class="fi-alert"></i> There are some errors in your form. </p>
      </div>
      	<input type="email" placeholder="Email" required>
      	<span class="form-error">This field is requried.</span>
      	<input type="password" placeholder="Password" required>
      	<span class="form-error">This field is required. </span>

      	<input type="password" placeholder ="Confirm Password" required>
      	<span class="form-error">This field is required. </span>
      	<div class="row">
      		<input type="radio" name="agreement" id="agreement-check" class="large-1 columns middle" required>
      		<label for="agreement-check" class="large-11 columns">By checking the box I agree to the terms and conditions of Pillow Findr.</label>
      		<span class="form-error">This field is required. </span>
      	</div>
      <button type="button" class="expanded button" id="signup-button">Sign Up</button>
    </form>
  </div>

   <div class="login-card">
  	<h4 class="text-center">Login to an existing account.</h4>
    <form data-abide novalidate>
      <div data-abide-error class="alert callout" style="display: none;">
      <p><i class="fi-alert"></i> There are some errors in your form. </p>
      </div>
      	<input type="email" placeholder="Email" required>
      	<span class="form-error">This field is requried.</span>
      	<input type="password" placeholder="Password" required>
      	<span class="form-error">This field is required. </span>
      <button type="button" class="expanded button" id="login-button">Login</button>
    </form>
  </div>
 </div>